<%= form_for @map, :html => { :class => "form-horizontal map" } do |f| %>

  <% if @map.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @map.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <!--making sure I am collecting the user_id for ownership reference-->
      <% if  controller.action_name == "new" %>
        <%= f.number_field :user_id, :class => 'form-control', :value => current_user.id %>
      <% else %>
        <%= f.number_field :user_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group" style="display:none;">
    <%= f.label :key, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
    <%=f.error_span(:key) %>
  </div>
  
  <div class="form-group">  
    <% if @mapimages.exists? %>
      <%= f.label :map_image, 'Map Image', :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
        <% @mapimages.each do |p| %>
              <div class="form-control">
                <%= image_tag p.mapimage_url, :class => 'form-control-image' %>
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                      edit_mapimage_path(p), :class => 'form-control-button', 
                      :title => 'Edit Attachment'  %>
                <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                    mapimage_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'form-control-button', :title => 'Delete Attachment', :style => 'color:#d9534f;'  %>
              
              </div>
        <% end %>
      </div>
    <% else %>  
      <%= f.label :map_image, "Map Image", :class => 'control-label col-lg-2'  %>
      <div class="col-lg-10">
      <%= f.file_field :mapimage, :multiple => false, name: "mapimages[mapimage][]",
        :class => 'form-control', onchange: "validateFiles(this);",
        data: { max_file_size: 2.megabytes } %>
      </div>
    <% end %>
  </div>  
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10"> 
      *All fields are required for Create Map button to be enabled.
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                maps_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>


<script>
  $(document).ready(function (){
    validate();
    $('#map_name, #map_mapimage').change(validate);
});

function validate(){
    if ($('#map_name').val().length   >   0   &&
        $('#map_mapimage').val().length    >   0) {
        $("input[type=submit]").prop("disabled", false);
    }
    else {
        $("input[type=submit]").prop("disabled", true);
    }
}
</script>