<%= form_for @map, :html => { :class => "form-horizontal map" } do |f| %>

  <% if @map.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @map.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <!--making sure I am collecting the user_id for ownership reference-->
      <% if  controller.action_name == "new" %>
        <%= f.number_field :user_id, :class => 'form-control', :value => current_user.id %>
      <% else %>
        <%= f.number_field :user_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group" style="display:none;">
    <%= f.label :key, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
    <%=f.error_span(:key) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                maps_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
