<% if current_user %>
<%- model_class = Map -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Map ID:</th>
      <th><%= model_class.human_attribute_name(:mapimage) %>:</th>
      <th><%= model_class.human_attribute_name(:name) %>:</th>
      <th>Map Owner:</th>
      <th><%= model_class.human_attribute_name(:width) %></th>
      <th><%= model_class.human_attribute_name(:height) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= link_to map.id, map_path(map) %></td>
        <td><%= link_to image_tag(map.mapimages.first.mapimage, :style => 'height:60px;'), map_path(map) %></td>
        <td><%= link_to map.name, map_path(map) %></td>
        <td><%= User.find(map.user_id).email %></td>
        
        <td><%= map.mapimages.first.width %></td>
        <td><%= map.mapimages.first.height %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      map_path(map), :class => 'btn btn-default' %>
          <% if current_user.is_admin? || current_user.id == map.user_id %>           
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_map_path(map), :class => 'btn btn-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      map_path(map),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_map_path,
            :class => 'btn btn-primary' %>

<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>