  <div class="row" id="mapHolder">
    <div class="col-xs-10 col-xs-offset-1">
      <%- model_class = Map -%>
      <div class="page-header">
        <h1><%=t '.title', :default => model_class.model_name.human.titleize %>: <%= @map.name %></h1>
      </div>
      
      <%= render 'fullmap' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">  
      <br>
      <%= link_to '+ Add space', new_area_path(:map_id => @map), :class => 'btn btn-primary responsive-none print-none', :style => 'float:right;' %>
      <br>
    </div>
  </div>










  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    maps_path, :class => 'btn btn-default'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_map_path(@map), :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    map_path(@map),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger' %>
    </div>
  </div>



