<%= form_for(user_avatar) do |f| %>
  <% if user_avatar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_avatar.errors.count, "error") %> prohibited this user_avatar from being saved:</h2>

      <ul>
      <% user_avatar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
