<% if current_user %>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4" style="text-align:center;">

<h1 style="margin-top:5px;">User Avatar</h1>
    <p>
      <strong>Avatar #<%= @user_avatar.id %>:</strong>
      <%= image_tag(@user_avatar.avatar_url, :style => 'width:300px;') %>
      <br><br>
      <strong>User id:</strong>
      #<%= @user_avatar.user_id %><br>
      <%= @user_avatar.user.email %>
    </p>

<%= link_to '<= Back', user_avatars_path, :class => 'btn btn-default' %>
<% if current_user.is_admin? || current_user.id == @user_avatar.user.id %>|
<%= link_to 'Edit', edit_user_avatar_path(@user_avatar), :class => 'btn btn-primary' %> | 
<%= link_to 'Delete Avatar', @user_avatar, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>
  </div>
</div>
<br><br>



<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>