<% if current_user %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID:</th>
      <th>Avatar:</th>
      <th>User:</th>
      <th>First Name:</th>
      <th>Last Name:</th>
      <th>is_admin?:</th>
      <th>Last Signed in at:</th>
      <th>Sign in count:</th>
      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td>
          <% if user.user_avatars.any? %>
          <%= link_to image_tag(user.user_avatars.first.avatar, 
                :style => 'max-width:50px;max-height:50px;padding:2px;'), user_path(user) %>
          <% else %>
          <%= link_to image_tag('/images/NO-IMAGE-AVAILABLE.jpg',
                :style => 'max-width:50px;max-height:50px;padding:2px;'), user_path(user) %>
          <% end %>
        </td>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= user.sign_in_count %></td>
        
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      user_path(user), :class => 'btn btn-default btn-xs' %>
          <% if current_user.is_admin? || user.id == current_user.id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                    edit_user_path(user), :class => 'btn btn-primary btn-xs' %>
          <% end %>
          <% if current_user.is_admin? %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      user_path(user),
                      :method => 'delete',
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', root_path, :class => 'btn btn-default' %>

<%#= link_to users_path %>
<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>