<%= form_for @areaimage, :html => { :class => "form-horizontal areaimage" } do |f| %>

  <% if @areaimage.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@areaimage.errors.count, "error") %> prohibited this areaimage from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @areaimage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= image_tag @areaimage.areaimage_url, :style => 'max-width:300px;padding:20px;' %>
  
  <div class="form-group">
      <%= f.label :areaimage, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
      <%= f.file_field :areaimage, :id => "image_picture", :class => 'control-label required' %>
      </div>
    </div>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @areaimage.area, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
    $(function(){
       $(".required").prop('required',true);
    });
</script>