<%= form_for @area, :html => { :class => "form-horizontal area" } do |f| %>

  <% if @area.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :square_feet, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.number_field :square_feet, :class => 'form-control' %>
    </div>
    <%=f.error_span(:square_feet) %>
  </div>
  <div class="form-group">
    <%= f.label :info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :info, :class => 'form-control' %>
    </div>
    <%=f.error_span(:info) %>
  </div>
  
  <div class="form-group">
    <%= f.label :status, 'Opening Status', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select :status, ['Available', 'Prospect', 'Leased'], {include_blank:false}, :class => 'form-control' %>
      <%#= f.text_field :opening_status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  
    
  
  <div class="form-group">
    <%= f.label :coords, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :coords, :class => 'form-control' %>
    </div>
    <%=f.error_span(:coords) %>
  </div>
  <div class="form-group">
    <%= f.label :map_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% if controller.action_name == "new" %>
        <%= f.text_field :map_id, value: @map_id, :class => 'form-control' %>
        <% else %>
      <%= f.text_field :map_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:map_id) %>
  </div>
  <div class="form-group">
    <%= f.label :key, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
    <%=f.error_span(:key) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                areas_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
