<%= form_for @area, :html => { :class => "form-horizontal area formatFunctions" } do |f| %>

  <% if @area.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @area.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <%= f.text_field :name, :class => 'form-control required' %>
    </div>
    <%=f.error_span(:name) %>
    
    <% if @areaimages.exists? %>
    <%= f.label :Areaimage, :class => 'control-label col-lg-2'  %>
      <div class="col-lg-4">
        <% @areaimages.each do |p| %>
          <div class="form-control">
              
              <%= image_tag p.areaimage_url, :class => 'form-control-image' %>

              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                    edit_areaimage_path(p), :class => 'form-control-button', 
                    :title => 'Edit Attachment', :style => 'color:#428bca;'  %>
              <%#= link_to "Destroy Attachment", destroy_associate_attachment_path(p) %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                    areaimage_path(p),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'form-control-button', :title => 'Delete Attachment', :style => 'color:#d9534f;'  %>
              
          </div>  
        <% end %>
      </div>
    
    <% else %>  
      <%#= f.fields_for :areaimages do |p| %>
         <%= f.label :area_image, :class => 'control-label col-lg-2'  %>
         <div class="col-lg-4">
         <%= f.file_field :areaimage, :multiple => true, name: "areaimages[areaimage][]", :class => 'form-control' %>

         </div>
     <%# end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :square_feet, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :square_feet, :class => 'form-control required' %>
    </div>
    <%=f.error_span(:square_feet) %>
  </div>
  <div class="form-group">
    <%= f.label :info, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :info, :class => 'form-control' %>
    </div>
    <%=f.error_span(:info) %>
  </div>
  
  <div class="form-group">
    <%= f.label :status, 'Opening Status', :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.select :status, ['Available', 'Prospect', 'Leased'], {include_blank:false}, :class => 'form-control' %>
      <%#= f.text_field :opening_status, :class => 'form-control' %>
    </div>
    <%=f.error_span(:status) %>
  </div>
  
    
  
  <div class="form-group">
    <%= f.label :coords, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :coords, :class => 'form-control required' %>
    </div>
    <%=f.error_span(:coords) %>
  </div>
  <div class="form-group">
    <%= f.label :map_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% if controller.action_name == "new" %>
        <%= f.text_field :map_id, value: @map_id, :class => 'form-control required' %>
        <% else %>
      <%= f.text_field :map_id, :class => 'form-control' %>
      <% end %>
    </div>
    <%=f.error_span(:map_id) %>
  </div>
  <div class="form-group" style='display:none;'>
    <%= f.label :key, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :key, :class => 'form-control' %>
    </div>
    <%=f.error_span(:key) %>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    <% if controller.action_name == "new" %>  
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                map_path(params[:map_id]), :class => 'btn btn-default' %>
    <% else %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                @area.map, :class => 'btn btn-default' %>
    <% end %>
    </div>
  </div>

<% end %>


  <%= render 'formjquery' %>