<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if current_user %>
    <%- model_class = Area -%>
    <div class="page-header">
      <h1><%= @area.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-5 col-xs-offset-1">

    <%= render 'areamap' %>
    <br style="clear:both;">
    
    <%#= render 'maps/switch_statuses' %>
    
  </div>
  <div class="col-xs-5" style="text-align:center;">
		  <% if @area.areaimages.blank? %>
		    <%= image_tag '/images/231unavailable.png', :style => 'max-width:100%;max-height:350px;' %>
		  <% else %>
		    <% @area.areaimages.each do |p| %>
		      <%= image_tag p.areaimage_url, :style => 'max-width:100%;margin-left:auto;margin-right:auto;max-height:350px;'%>
		    <% end %>
		  <% end %>

  </div>
</div>


<hr>


<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:square_feet) %>:</strong></dt>
  <dd><%= number_with_delimiter(@area.square_feet, :delimiter => ',') %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @area.status %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:info) %>:</strong></dt>
  <dd><%= @area.info %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:coords) %>:</strong></dt>
  <dd><%= @area.coords %></dd>
  <dt><strong><%= model_class.human_attribute_name(:map_id) %>:</strong></dt>
  <dd><%= @area.map_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              map_path(@map), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_area_path(@area), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              area_path(@area),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
              
  </div>
</div>
<% else %>
 <h2>Must be logged in. <a href="/" class="btn btn-default">Return Home</a></h2>
<% end %>